html{scroll-behavior: smooth;}
body{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
}
header, .masthead{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./../img/4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.masthead h1{
    margin: 0;
}
.desktop-nav{
    display: flex;
    align-items: center;
}
.desktop-nav div{
    display: flex;
    flex-grow: 1;
}
.desktop-nav nav menu{
    font-size: 36px;
    list-style: none;
    display: flex;
    margin: 0;
}
.desktop-nav div a img{
    width: 40%;
    height: auto;
}
.desktop-nav nav menu li{
    padding: 0px 10px;
    border-right: 3px solid #f4f4f4;
}

.desktop-nav nav menu li:last-child{
    border: none;
}
.desktop-nav nav menu li a{
    text-decoration: none;
    font-weight: bold;
    color: #f4f4f4;
    transition: 0.4s;
}
.desktop-nav nav menu li a:hover{
    color: #5e35b1;
    font-size: 110%;
}
.mobile-nav{display: none;}
@media screen and (max-width: 768px){
    .desktop-nav{display: none;}
    .mobile-nav{
        display: flex;
        align-items: center;
    }
    .mobile-nav nav div{
        display: flex;
        flex-grow: 1;
    }
    .mobile-nav nav menu{
        font-size: 25px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        padding: 5vh;
    }
    .mobile-nav nav div a img{
        width: 30%;
        height: auto;
    }
    .mobile-nav nav menu li a{
        text-decoration: none;
        font-weight: bold;
        color: #f4f4f4;
    }
    .burger{
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        z-index: 5;
        position: absolute;
        top: 2vh;
        left: 90%;
    }
    .mobile-nav input{
        display: none;
    }
    .burger span{
        display: block;
        width: 30px;
        height: 4px;
        background-color: #f4f4f4;
        margin: 6px 0;
        transition: 0.4s;
    }
    .mobile-nav input:checked + .burger span{
        opacity: 0;
    }
    .mobile-nav input:checked + .burger span:first-child{
        opacity: 1;
        transform: rotate(45deg);
    }
    .mobile-nav input:checked + .burger span:last-child{
        opacity: 1;
        transform: rotate(-45deg);
    }
}
.masthead{
    height: 88vh;
    clip-path: polygon(100% 0, 100% 100%, 50% 93%, 0 100%, 0 0);
    width: 100%;
}
.masthead h1{
    top: 38vh;
    font-size: 17vh;
    color: #f4f4f4;
    text-align: center;
    width: 100%;
    position: absolute;
}
.arrow{
    position: absolute;
    top: 80vh;
    width: 10vh;
    height: 10vh;
    border-right: 5px solid #f4f4f4;
    border-bottom: 5px solid #f4f4f4;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;   
    transform: rotate(45deg);
    transition: 0.2s ease-in-out;
}
.arrow:hover{
    top: 85vh;
    border-width: 7px;
}
@media screen and (max-width: 768px){
    .masthead{
        height: 97vh;
    }
    .masthead h1{
        font-size: 10vh;
    }
}
main{
    background-color: #072d67;
}
.row-one{
    padding: 0 150px 50px 150px;
    background-color: #f4f4f4;
}
.row-one h2{
    font-size: 10vh;
    color: black;
    text-align: center;
}
.row-one p{
    font-size: 4vh;
    color: grey;
    text-align: center;
}
@media screen and (max-width: 768px){
    .row-one{
        padding: 0 50px 50px 50px;
    }
    .row-one h2{
        font-size: 8vh;
    }
    .row-one p{
        font-size: 3vh;
    }
}
.ctas{
    text-align: center;
    display: flex;
    flex-direction: row;
}
.cta-one, .cta-two{
    display: inline-block;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 0 50px 0 50px;
}
.cta-one{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./../img/10.jpg");
}
.cta-two{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./../img/7.jpg");
}
.cta-one h3, .cta-two h3{
    font-size: 13vh;
    color: #f4f4f4;
    width: 100%;
    border: 5px solid #f4f4f4;
    padding: 30vh 0 30vh 0;
    transition: 0.1s;
}
.cta-one h3:hover, .cta-two h3:hover{
    background-color: #f4f4f4;
    color: #0e0e0e;
    font-size: 14vh;
}
@media screen and (max-width: 768px){
    .ctas{
        display: flex;
        flex-direction: column;
    }
    .cta-one, .cta-two{
        width: 100%;
        height: 100vh;
        padding: 0 50px 0 50px;
    }
    .cta-one h3, .cta-two h3{
        width: 70%;
    }
}
.row-two{
    background-color: #072d67;
    padding: 0 100px 50px 100px;
}
.row-two h4{
    font-size: 10vh;
    color: #f4f4f4;
    text-align: center;
    padding-top: 10vh;
    margin: 0;
}
.row-two p{
    font-size: 5vh;
    color: #f4f4f4;
    text-align: center;
}
@media screen and (max-width: 768px){
    .row-two{
        padding: 0 50px 50px 50px;
    }
    .row-two h4{
        padding-top: 10vh;
        margin: 0;
    }
    .row-two p{
        font-size: 3vh;
    }
}
.row-three{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./../img/5.jpg");
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 0 100%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.row-three h4{
    padding-top: 35vh;
    font-size: 11vh;
    color: #f4f4f4;
    text-align: center;
    width: 100%;
    margin: 0;
}
.buttons{
    text-align: center;
    display: flex;
    flex-direction: row;
}
.button-one, .button-two{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10vh 0 40vh 0;
}
.hover-one, .hover-two, #submit{
    width: 38vh;
    height: 10vh;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid #f4f4f4;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 25px;
    transition: 0.1s;
}
.hover-one:hover, .hover-two:hover{
    background-color: #f4f4f4;
    color: #0e0e0e;
    font-size: 30px;
}
@media screen and (max-width: 768px){
    .buttons{
        display: flex;
        flex-direction: column;
        padding-bottom: 40vh;
    }
    .button-one, .button-two{
        padding: 3vh;
    }
}
.contact{
    background-color: #5e35b1;
    padding: 9vh;
}
.name{
    display: flex;
}
.fname, .lname{
    display: inline-block;
    display: flex;
    align-items: center;
    flex-direction: row;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input, .fname, .lname{
    height: 10vh;
    font-size: 30px;
    font-weight: bold;
    font-size: 25px;
    margin: 1vh;
}
input{
    padding-left: 2vh;
}
#fname, #lname{
    width: 75.5vh;
}
#email, #message{
    width: 100%;
}
#message{
    padding-bottom: 10vh;
}
#submit{
    margin-top: 5vh;
    transition: 0.1s;
}
#submit:hover{
    background-color: #f4f4f4;
    color:#0e0e0e;
    font-size: 4vh;
}
@media screen and (max-width: 768px){
    .name{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10vh;
}
::placeholder{
    color: #0e0e0e;
    text-decoration: none;
}